/* Dropdown button for 'Coursework'*/
.headerdropdown {
    /*background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;*/
    cursor: pointer;
}

/* Color of the dropdown button when shown */
.headerdropdown:hover .headerdrop-button {
	background-color: #EDCBA9;
}

/* Show dropdown content on hover over dropdown button */
.headerdropdown:hover .headerdrop-content {
	display: block;
}

/* Container to position dropdown content */
.headerdrop-button {
    position: relative;
    display: inline-block;
}

/* Dropdown Content */
.headerdrop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Attributes of links inside dropdown content */
.headerdrop-content a {
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Color of the dropdown content on over over content */
.headerdrop-content a:hover {
	background-color: #EDCBA9;
}