.pin {
	position: relative;
	left: 50%;
	/*top: 450px;*
	margin-left: -38px;
	margin-top: -53px;*/
}
.pin, svg {
	/* Rotate at middle bottom */
	position: absolute;
	-webkit-transform-origin: center top;
	-moz-transform-origin: center top;
	transform-origin: center top;
}

.ball {
	position: relative;
	left: 25%;
	top: 75%;
	margin-left: -38px;
	margin-top: -53px;
}